/* CSS declarations go here */
/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #F1F1F1;
  font-size: 14px;
  margin: 0;
  font-family: Helvetica Neue,Helvetica;
}

* {
  box-sizing: border-box;
}

nav.topNav {
  background: white;
  padding: 1em;
  font-size: 2em;
}

.topNav a {
  text-decoration: none;
  color: #444242;
}

.container {
  max-width: 600px;
  margin: 2em auto 0 auto;
  padding: 1em;
  border-radius: 4px;
  min-height: 100%;
  background: white;

}