/* CSS declarations go here */
/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #F1F1F1;
  font-size: 14px;
  margin: 0;
  font-family: Helvetica Neue,Helvetica;
}

* {
  box-sizing: border-box;
}

nav.topNav {
  background: white;
  padding: 1em;
  font-size: 2em;
  border-bottom: 1px solid #E2DADA;
}

.topNav a {
  text-decoration: none;
  color: #444242;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 2em auto 0 auto;
  border: 1px solid #E2DADA;
  padding: 1em;
  border-radius: 4px;
  background: white;

}


.container.md {
  width: 90%;
  max-width: 800px;
  transition: all 0.5s ease;
}

select {
  padding: 15px 10px;
  border: 0;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-transform: none;
  background: transparent;
  width: 300px;
  max-width: 100%;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
}

input[type=text] {
  width: 300px;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
}

.dropDown::after {
  content: '&or;';
  display: block;
  font-size: 24px;
  height:20px;
  width:20px;
  position: absolute;
  top: 0;
  right: 0;
  color: black;
}

label {
  display: block;
  margin: 12px 0;
  font-weight: bolder;
}



input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 300px;
  max-width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  max-width: 100%;
  height: 8px;
  cursor: pointer;
  background: #E0E0E0;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  height: 24px;
  width: 6px;
  border-radius: 2px;
  margin-top: -8px;
  background: #3498db;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}
input[type=range]::-moz-range-track {
  width: 300px;
  max-width: 100%;
  height: 8px;
  cursor: pointer;
  background: #E0E0E0;
  border-radius: 1.3px;
}
input[type=range]::-moz-range-thumb {
  height: 24px;
  width: 4px;
  border-radius: 2px;
  background: #3498db;
  margin-top: -8px;
}

th {
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #F1F1F1;
}
td, th {
  padding: 0.5em;
}
button {
  padding: 1em 2em;
  background-color: transparent;
  box-shadow: none !important;
  text-shadow: none;
  border: 1px solid #c1c0c0;
  border-radius: 2px;
  transition: all 0.25s;
}

button:hover {
    border: 1px solid #3498db;
    color: #3498db;
}


/*Utility Classes*/

.flexcontainer-row {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; 
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.flex-left {
  justify-self: flex-start;
}

@media (min-width: 768px) {
  .flex-right {
    margin-left: auto;
  }
}

.margin-top {
  margin-top: 1em;
}